<head>
  <meta charset="utf-8">
  <title><%- page.title || config.title %> | TestFlows</title>
  <meta name="description" content="<%- page.description || config.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="<%- page.author || 'TestFlows'%>">
  <meta name="og:site_name" content="TestFlows">
  <meta property="og:image" content="<%- full_url_for(page.image || config.social_share) %>">
  <% if (config.image) { %>
  <link rel="preload" as="image" href="<%- full_url_for(config.image) %>">
    <% } %>
  <% if (page.post) { %>
  <%- partial('_partial/post_meta') %>
  <% } %>
  <% if (theme.favicon){ %>
  <link href="<%- full_url_for(theme.favicon) %>" rel="icon">
  <% } %>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="<%- config.root %>css/bootstrap/bootstrap.css" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/highlight.css?v=<%- Date.now() %>" media="screen" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/fontawesome/css/all.css?v=1.0" type="text/css">
  <link rel="stylesheet" href="<%- config.root %>css/style.css?v=<%- Date.now() %>" media="screen" type="text/css">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
  <![endif]-->
</head>
