<div class="page container-fluid text-center p-0" style="padding-bottom: 2em !important">
    <div class="banner in-view-watcher">
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <div class="firefly"></div>
        <h1><%- page.heading %></h1>
        <i class="fa-5x pt-3 <%- page.icon %>"></i>
    </div>
</div>
<div class="container" style="padding-bottom: 2em !important">
<% site.posts.each(function(item){ %>
    <div class="blog post">
        <div class="post-header row">
            <div class="post-summary col-lg-6 mt-auto mb-auto">
                <a href=<%- item.permalink %>>
                    <h1 style="font-weight: bold;"><%- item.title %></h1>
                </a>
                <%- item.excerpt %><i class="post-summary-more">...</i>
            </div>
            <div class="post-image col-lg-6 m-auto">
                <a href=<%- item.permalink %>>
                    <img src="<%- config.root %><%- item.image.asset %>"></img>
                    <span class="post-image-credit"><%- item.image.credit %></span>
                </a>
            </div>
            <div class="post-metadata row m-auto">
                <div class="col-md-12">
                    <div class="post-author">
                        <span class="author-title text-nowrap">Written By</span><span class="author-name"><%- item.author %></span>
                        <span class="authored-date text-nowrap"><%= date(item.date, 'MMMM D, YYYY') %></span>
                    </div>
                    <div class="post-share btn-group" role="group" aria-label="share">
                        <span class="caption">Share It</span>
                        <a href="https://twitter.com/intent/tweet?url=<%- item.permalink %>">
                            <i class="fab fa-2x fa-twitter"></i>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=<%- item.permalink %>">
                            <i class="fab fa-2x fa-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- item.permalink %>">
                            <i class="fab fa-2x fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }); %>
</div>
