<div class="page container-fluid text-center p-0" style="padding-bottom: 2em !important">
    <div class="banner in-view-watcher">
        <h1><%- page.title %></h1>
        <h2><%- page.heading %></h2>
        <i class="fa-5x pt-3 <%- page.icon %>"></i>
    </div>
</div>
<div class="handbook">
    <div class="container" style="padding-bottom: 2em !important;">
        <div class="post">
            <div class="post-body row">
                <nav id="sidebar" class="col-lg-4 sidebar">
                    <div id="Contents" class="sidebar-header pt-4">
                        <h3 class="d-none d-md-block">Contents</h3>
                        <h2 class="d-block d-md-none">Contents</h2>
                    </div>
                    <div>
                        <% site.pages.each(function(chapter) { %>
                            <% if (chapter.path.startsWith(page.path)) { %>
                                <% if (page.title == chapter.title) { %>
                                    <%- toc(page.content) %>
                                <% } else { %>
                                    <div><a class="toc-link" href="/<%- chapter.path %>#Contents"><%- chapter.title %></a></div>
                                <% } %>
                            <% } %>
                        <% }); %>
                    </div>
                </nav>
                <div class="col-lg-8">
                    <%- page.content %>
                    <div class="col-12 divider"></div>
                    <div class="switch-page text-center">
                        <% if (page.prev) { %>
                            <a class="previous pr-5" href="/handbook<%- url_for(page.prev) %>.html#Contents"><i class="fas fa-hand-point-left pr-2"></i>Back</a>
                        <% } %>
                        <% if (page.next) { %>
                            <a class="next" href="/handbook<%- url_for(page.next) %>.html#Contents">Next<i class="fas fa-hand-point-right pl-2"></i></a>
                        <% } %>
                    </div>
                </div>
                <div class="jump fas fa-chevron-circle-up" onclick="window.scrollTo(0, 500); document.getElementById('sidebar').scrollTo(0, 0)"></div>
            </div>
        </div>
    </div>
</div>
<script>
window.addEventListener("load", function(){
    // add support to go back to TOC by clicking any header
    document.querySelectorAll("h1, h2, h3, h4, h5, h6").forEach(function(element){
        element.addEventListener("click", function(event){
            element_id = element.getAttribute("id");
            toc_element = document.querySelector(".toc .toc-item .toc-link[href=\"#" + encodeURI(element_id) + "\"]");
            toc_element.scrollIntoView({block: 'center'})
            toc_element.classList.add("active");
            // remove active class after timeout
            setTimeout(function(){
                toc_element.classList.remove("active");
            }, 1000);
        }, true);
    });
});
</script>
