<% if (!page.path.startsWith("assets")) { %>
<!DOCTYPE HTML>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navigation') %>
  <div class="container-fluid p-0">
    <div class="content">
      <%- body %>
    </div>
  </div>
  <div class="container-footer" id="container-footer">
    <% if (!page.path.startsWith("assistant")) { %>
    <footer> <%- partial('_partial/footer') %> </footer>
    <% } %>
  </div>
  <%- partial('_partial/after_footer') %>
</body>
</html>
<% } else { %>
<%- body %>
<% } %>

